.head {
  padding-top: 24px;
  padding-bottom: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 8px;
  font-family: "Philosopher";
  font-size: 32px;
  line-height: 36px;
  font-weight: var(--bold-font);
  color: var(--dark-text-color);
}

.address {
  font-size: var(--lower-font-size);
  line-height: 22px;
  font-weight: var(--light-font);
  color: var(--footer-text-color);
}

.button {
  align-self: flex-start;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .title {
    font-size: 26px;
  }

  .address {
    font-size: var(--lower-font-size);
  }

  .button {
    display: none;
  }
}
