.button {
  padding: 12px 32px;
  cursor: pointer;
  border: 2px solid var(--black-color);
  background-color: var(--black-color);
  transition: background-color 0.3s;
  color: var(--white-color);

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
