.navigation {
  display: none;
  margin-left: auto;
}

.list {
  display: flex;
}

.item {
  &:not(:first-child) {
    margin-left: 32px;
  }
}

.link {
  color: var(--dark-text-color);

  &:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 600px) {
  .navigation {
    display: block;
  }
}
