.Navigation {
  display: none;
  margin-left: auto;

  &Active {
    display: block;
  }
}

.Navigation__list {
  display: flex;
}

.Navigation__item {
  &:not(:first-child) {
    margin-left: 32px;
  }
}

.Navigation__link {
  color: #3e4247;
  font-family: "FirsSans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;

  &:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
}

// .Navigation__toggle {
//   position: absolute;
//   display: block;
//   width: 40px;
//   height: 30px;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 0;
//   border: none;
//   background-color: transparent;
// }

// .Navigation__toggle span {
//   display: block;
//   width: 100%;
//   height: 2px;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 0;
//   background-color: #ccc;

//     &:before,
//     &:after {
//       content: "";
//       position: absolute;
//       width: 100%;
//       height: 2px;
//       left: 0;
//       background-color: #ccc;
//     }

//     &:before {
//       top: -14px;
//     }

//     &:after {
//       top: 14px;
//     }
// }

// .Navigation__toggle--active {
//   display: block;
// }

// .Navigation__toggle--active span {
//   background-color: none;

//   &:before {
//     transform-origin: center left;
//     transform: rotate(45deg);
//   }

//   &:after {
//     transform-origin: center left;
//     transform: rotate(-45deg);
//   }
// }

@media (min-width: 600px) {
  .Navigation {
    display: block;
  }
}
