.group {
  display: flex;
  align-items: center;
  width: 384px;
}

.term {
  font-size: var(--lower-font-size);
  width: 48%;
  line-height: 22px;
  color: var(--footer-text-color);
}

.description {
  font-size: var(--lower-font-size);
  width: 52%;
  text-align: left;
  line-height: 25px;
  font-weight: var(--medium-font);
  color: var(--dark-text-color);
}
