.Header {
  background-color: #fff;
}

.HeaderTopPanel {
  display: flex;
  padding: 20px 0;
}

.HeaderFill {
  background-color: #161616;
  padding: 80px 0;
  text-align: center;
}

.HeaderFill__img {
  max-width: 419px;
  height: 131px;
}
