.Card {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  background-color: #fff;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.Card__descriptionWrapper {
  padding: 16px;
  border-bottom: 2px solid #646971;
}

.Card__address {
  font-family: "Monaco", "Arial", sans-serif;
  text-transform: uppercase;
  color: #646971;
  font-size: 16px;
  margin-bottom: 16px;
}

.Card__title {
  font-family: "FiraSans", "Arial", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 8px;
}

.Card__description {
  font-family: "FiraSans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #3e4247;
  max-width: 590px;
}

@media (min-width: 890px) {
  .Card {
    flex-direction: row;
  }

  .Card__img {
    width: 40%;
  }
}

@media (min-width: 600px) {
  .Card__title {
    font-size: 40px;
  }

  .Card {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  .Card__title {
    line-height: 56px;
    margin-bottom: 16px;
  }

  .Card__descriptionWrapper {
    padding: 24px 32px;
  }
}
