.card {
  background-color: var(--white-color);
  transition: box-shadow 0.5s;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.link {
  display: flex;
  flex-direction: column;
}

.inner {
  flex-grow: 1;
  padding: 16px;

  border-bottom: 2px solid var(--light-text-color);
}

.address {
  margin-bottom: 16px;

  font-family: "Monaco", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 40px;
  font-weight: var(--bold-font);
  color: var(--black-color);
}

.description {
  max-width: 590px;
  line-height: 24px;
  color: var(--dark-text-color);
}

@media (min-width: 890px) {
  .link {
    flex-direction: row;
  }

  .image {
    width: 40%;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: var(--card-title-font-size);
  }

  .card {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  .title {
    margin-bottom: 16px;
    line-height: 56px;
  }

  .inner {
    padding: 24px 32px;
  }
}
