:root {
  --dark-text-color: #3e4247;
  --footer-bg-color: #111111;
  --footer-text-color: #a9afb6;
  --header-fill-color: #161616;
  --light-text-color: #646971;
  --white-color: #ffffff;
  --black-color: #000000;
  --border-color: #eaebf0;
  --favorive-color: #00779a;
  --favorite-border: #e0e0e1;
  --offers-bg: #f4f5f9;
  --default-font-size: 16px;
  --lower-font-size: 14px;
  --copyright-font-size: 11px;
  --card-title-font-size: 40px;
  --main-title-font-size: 24px;
  --bold-font: 700;
  --medium-font: 500;
  --light-font: 300;
}
